@import "tailwindcss";

/* Custom theme configuration for Tailwind v4 */
@theme {
  --font-family-sans: 'Inter', sans-serif;
  --font-family-mono: 'Monaco', ui-monospace, 'SFMono-Regular', Menlo, Consolas, 'Liberation Mono', 'Courier New', monospace;
  
  --color-slate-850: hsl(222deg 47% 16%);
  --color-primary: #5fc3e7;
}
